.c1{
    text-align: left;
    color: black;
    border: 1px;
    padding-left: 10px;
    line-height: 30px;
    width:50%;
    margin-left: 21.5%;
    font-family: Montserrat;
    font-size: 87%;

    border-left:4px solid rgb(213, 214, 213);
    margin-top: 30px;  
}

.cnew{
    text-align: left;
    color: black;
    border: 1px;
    padding-left: -10px;
    line-height: 30px;
    width:40%;
    margin-left: 25%;
    font-family: Montserrat;
    font-size: 87%;

    border-left:4px solid rgb(213, 214, 213);
    margin-top: 60px;
    max-height: 100px;
}

.c2{
    text-align: left;
    color: black;
    border: 1px;
    padding-left: 40px;
    line-height: 30px;
    width:40%;
    margin-left: 21.5%;
    font-family: Montserrat;
    font-size: 89%;
    border-left:4px solid rgb(213, 214, 213);
    margin-top: 30px;
    max-height: 100px;  
}
.ch1{
    width: 1px;
    margin-top: -70px;
    text-align: left;
    margin-left: 190px;
}
.ch{
    width: 1px;
    margin-top: -70px;
    text-align: left;
    margin-left: -120px;
}

.bolded { 
    font-weight: bold;
}

.containernew{
    background: linear-gradient(90deg, white, #947200);
}


.block{
    text-align: center;
    background-color: white;
    color: black;
    border: 1px;
    padding: 10px;
    height: 290px;
    width: 500px;
    margin-top: 15%;
    margin-left: 130px;
}
#clm{
    margin-bottom: 40px;
    margin-top: 20px;
    padding: 0;
}



div.containernew1{
    height: auto;
    background: linear-gradient(90deg,#0e4d3b,white);  
}

.block3{
    text-align: center;
    background-color: white;
    color: black;
    border: 1px;
    /* padding: 10px; */
    height: 90%;
    width: 57%;
    margin-top: 2%;
    margin-left: 21.5%;
}

.block4{
    text-align: center;
    background-color: white;
    color: black;
    border: 1px;
    /* padding: 10px; */
    height: 90%;
    width: 65%;
    margin-left: 60%;
    margin-top: 5%;
    background-image: url('../assets/DesignImages/Dashboard_1.jpg');
    background-size:cover;  

}
#bt1{
    color: #fff;
    background-color:#0e4d3b;
    width: 30%;
    box-sizing: border-box;
    border-radius: -1px;
    height: 50px;
    font-size: medium;
    font-family:Exo;
    float:right;
    margin-top: 60px;
    margin-right: -1.5%;
}

.block5{
    text-align: center;
    background-color:white;
    color: black;
    border: 1px;
    /* padding: 10px; */
    height: 90%;
    width: 65%;
    margin-left: 59%;
    margin-top: 5%;
    background-image: url('../assets/DesignImages/Dashboard_2.png');
    background-size:cover;
}

#chart{
    float:right;
    margin-top: -2%;
    margin-right: 24%;
    margin-left: -20%;
    margin-bottom:6%;
}

#clandcont{
    text-align: left;
}

#hd1 {
    font-family: Exo;
    color: #0e4d3b;
    padding: 15px;
}

.coln {
    float: left;
    width: 45%;
}

#bt3{
    color: #fff;
    background-color:#be911f;
    /* width: 100%; */
    box-sizing: border-box;
    /* border-radius: 5px; */
    /* height: 50px; */
    font-size: medium;
    font-family:Exo;
    margin-left: 2px;
    box-shadow: 1px 1px #1e2e27;
}

.list{
    color:#0e4d3b;
    font-family: Exo;
    text-align: left;

    font-weight: 600;
    line-height: 90%;
}
#xx{
    color: #be911f;
}

#kss{
    
    font-family: 'Exo';
    color: #0c0c0b;
    float: left;
    font-size: 85%;
    font-weight: 300;
    text-align: left;
    max-width: 65%;
    
    
}

#hd13{
    font-family: 'Exo';
    color: #836518;
    align-self: start;
    float: left;
    font-weight: 300;
}

#ba{
    margin-right: 15%;
}

#dc{
    margin-right: 45%;
}
#da{
    margin-left: -55%;
}