#abcd{
    height: 10%;
    margin-left: -600px;
    width: 100%;
}

.block6{
    text-align: center;
    background-color: rgb(231, 227, 227);
    color: black;
    border: 1px;
    padding: 10px;
    margin-top: 3%;
    margin-bottom: 3%;
}

#tts{
    height: 100px;
    width: 100px;
    margin-top: -50px;
}

#cs{
    height: 100px;
    width: 100px;
    margin-top: -50px;
}

.ncol,.ncol1 {
    float: left;
    width: 50%;
    padding: 10px;
  }
  
.ncol1{
    border-left:2px solid rgb(12, 12, 12);
    border-left-style: dashed;
    /* height: 355px; */
}
  .row:after {
    content: "";
    display: table;
    clear: both;
  }

#para1,#para2{
    text-align: left;
    padding-left: 10px;
    margin-top: 20px;
    line-height: 40px;
    font-size-adjust: inherit;
}

#para2{
    margin-bottom: 55px;
}

#bt4{
    color: #fff;
    background-color:#0e4d3b;
    box-sizing: border-box;
    border-radius: 2px;
    /* height: 50px; */
    font-size: larger;
    font-family:Exo;
    margin-top: 4%;
    box-shadow: 1px 1px black;
}

#hed{
    color:#0e4d3b;
    margin-bottom: 0;
    font-family: Oswald;
}

.container5{
    background-color: aliceblue;
}