.container1{
    margin-top: 30px;
    text-align: center;
    color: rgb(245, 244, 243);
    background-color:#0a382b ;
    padding:30px;
    width:100%
}
#ks{
    font-family:Montserrat;
    /* font-size: large; */
}

#s{
    font-size: calc(0.8rem + 0.8vw);
    font-family: 'Montserrat';
    color: #be911f;
    font-weight: 600;

  }